/*.container {*/
    /*height:100vh;*/
    /*wight:100vw;*/
/*}*/
/*.shaped {*/
    /*background: black url(https://pp.userapi.com/c849120/v849120857/cc331/XftS2mpmwHo.jpg) center top no-repeat;*/
    /*height:100vh;*/
    /*width:40vw;*/
    /*background-size:cover;*/
    /*float:left;*/
    /*shape-outside:     polygon(0 0, 100% 0, 100% 40%, 0 100%);*/
    /*shape-margin:20px;*/
    /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);*/
    /*clip-path:         polygon(0 0, 100% 0, 100% 40%, 0 100%)*/
/*}*/

/*.content{*/
    /*margin: 20px;*/
/*}*/



.project_container{
    display: flex;
    /*flex: 1;*/
    justify-content: center;
    align-items: center;
    /*z-index: 5000;*/
    flex-direction: row;
}

.project_container_inner {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    background: var(--MenuBackgroundColor);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}
.swiper-slide-landscape {
    /*display: inline-block;*/
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 650px;
    border-radius: 10px;
    margin-right: 10px;
    background: black;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}

.project_img_landscape{
    /*max-width: 100px;*/
    height: 450px;
    width: 650px;
    border-radius: 10px;
    margin-right: 10px;
    /*float: left;*/
}

.swiper-slide-portrait {
    /*display: inline-block;*/
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    margin-right: 10px;
    background: black;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}

.project_img_portrait{
    /*max-width: 100px;*/
    height: 450px;
    width: 300px;
    border-radius: 10px;
    margin-right: 10px;
    /*float: left;*/
}
