.menu_main_container {
    height: 100vh;
    width: 15%;
    min-width: 200px;
    /*background-color: #8D8F92;*/
    /*background-image: -webkit-linear-gradient(top, #8D8F92, #cccccc);*/
    background-image: var(--MenuBackgroundColor);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-right: solid 2px orange;
    border-bottom: solid 2px orange;
    box-shadow: inset 0px 5px 50px black,
                 0px 5px 70px black;
    position: fixed;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
    transition: 1s;
    transform: translateX(-82%);
    z-index: 3;
}

.menu_main_container_open {
    transform: translateX(0%);
}

.menu_main_container_close {
    transform: translateX(-82%);
}

.menu_btn_hamburger {
    position: absolute;
    top: 0;
    right: 1%;
}

.menu_btn_close {
    position: absolute;
    top: 0;
    right: 1%;
}

.menu_btn_close1 {
    position: absolute;
    top: 15%;
    right: 1%;
}

.menu_btn_container {
    border: solid 3px transparent;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 5px;
    overflow: hidden;
    transition: border 1s ease-out;
    /*position: relative;*/
    text-decoration: none;
    background: transparent;
}

.home_icon_location {
    position: absolute;
    top: 20%;
    right: 0.5%;
}

.homeIcon:hover {
    border-color: orange;
    color: orange;
    box-shadow: 0px 0px 15px orange;
}

.on_focus_flag:focus {
    border-color: orange;
    color: orange;
    box-shadow: 0px 0px 15px orange;
}

.skills_icon_location {
    position: absolute;
    top: 30%;
    right: 0.5%;
}

.skillsIcon:hover {
    border-color: orange;
    color: orange;
    box-shadow: 0px 0px 15px orange;
}

.skillsIcon:focus {
    border-color: orange;
    color: orange;
    box-shadow: 0px 0px 15px orange;
}

.projects_icon_location {
    position: absolute;
    top: 40%;
    right: 0.5%;
}

.projectsIcon:hover {
    border-color: orange;
    color: orange;
    box-shadow: 0px 0px 15px orange;
}

.projectsIcon:focus {
    border-color: orange;
    color: orange;
    box-shadow: 0px 0px 15px orange;
}

.closeIcon:hover{
    border-color: #dd4b39;
    color: #dd4b39;
    box-shadow: 0px 0px 15px #dd4b39;
}

.openMenuIcon:hover{
    border-color: #66F881;
    color: #66F881;
    box-shadow: 0px 0px 15px #66F881;
}
.arrowIcon {
    color: #66F881;
    font-size: 40px;
}

.arrowIcon1 {
    /*transition-delay: 1s;*/
    animation: arrowAnimation 1.5s linear infinite 1.5s;

}

.arrowIcon2 {
    /*transition-delay: 0.5s;*/
    animation: arrowAnimation 1.5s linear infinite 1s;
}

.arrowIcon3 {
    animation: arrowAnimation 1.5s linear infinite 0.5s;
}

/*.arrowAnimation {*/
    /*animation: arrowAnimation 1s linear infinite;*/
/*}*/

@keyframes arrowAnimation {
    0%{
        opacity: 1;
        /*transform: translateX(-10%);*/
    }
    30%{
        opacity: 0.6;
        /*transform: translateX(0%);*/
    }
    70%{
        opacity: 0.2;
        /*transform: translateX(0%) ;*/
    }
    100%{
        opacity: 0;
        /*transform: translateX(10%);*/
    }
}

.menu_btn_items_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex:1;
}

.menu_arrow_banner {
    position: fixed;
    right: -20%;
    top: 1%;
    height: 50px;
    width: 30px;
    display: flex;
}

.input-toggle {
    position: relative;
    background: #cccccc;
    height: 15px;
    width: 30px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 25px;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.6);
    transition: 0.5s;
}

.input-toggle:checked{
    background: #66F881;
}

.input-toggle:before{
    content: '';
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    transform: scaleX(1.1);
    background: white;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.4);
    transition: 0.5s;
}

.input-toggle:checked.input-toggle:before{
    left: 15px;
}

.input-toggle_paralax:checked{
    background: #66F881;
}

.input-toggle_paralax:before{
    content: '';
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    transform: scaleX(1.1);
    /*background: white;*/
    background: var(--fontBorderColor);
    box-shadow: 2px 4px 6px rgba(0,0,0,0.4);
    transition: 0.5s;
}

.input-toggle_paralax:checked.input-toggle_paralax:before{
    left: 15px;
}

.menu_toggle_theme_container {
    display: flex;
    flex-direction: column;
    margin: 10% 5%;
    justify-content: space-evenly;
    height: 10%;
}

.menu_toggle_theme_fieldset {
    border: 2px orange solid;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgb(0,0,0);
}

.menu_toggle_theme_legend {
    margin-left: 1em;
    padding: 0.5em 1em;
    color: orange;
    text-shadow: 1px 1px 2px black;
}

.menu_toggle_theme_checkbox_container {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu_toggle_theme_checkbox_label {
    /*color: orange;*/
    color: var(--fontBorderColor);
    text-shadow: 1px 1px 2px black;
    text-align: center;
}
