.button_BABWIA_a {
    position: relative;
    color: orange;
    padding:10px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    /*box-shadow: 0 20px 50px rgb(0,0,0);*/
    box-shadow: 0 20px 50px black;
                /*inset 3px 3px 20px black;*/

    /*box-shadow: inset 0px 5px 50px black;*/
    /*border: solid 2px orange;*/

    overflow: hidden;
    background-color: var(--BABWIAButtonBackgroundColor);
    margin: 5px 15px 0 15px;
    flex:1;
    text-align: center;
}

.button_BABWIA_a:before {
    content: '';
    position: relative;
    top: 2px;
    left: 2px;
    bottom: 2px;
}

.button_BABWIA_a:hover {
    content: '';
    position: relative;
    top: 3px;
    left: 3px;
    bottom: 3px;
    color: #66F881;
    /*font-size: x-large;*/
    background: var(--BABWIAButtonBackgroundColorOnHover);
    box-shadow: 0 5px 15px rgb(0,0,0);
}

.button_BABWIA_a:focus .button_BABWIA_span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, orange );
    animation: animate1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate1 {
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }

}

.button_BABWIA_a:focus .button_BABWIA_span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, orange );
    animation: animate2 2s linear infinite;
}

@keyframes animate2 {
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(100%);
    }
}

.button_BABWIA_a:focus .button_BABWIA_span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, transparent, orange );
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate3 {
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}

.button_BABWIA_a:focus .button_BABWIA_span:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, transparent, orange );
    animation: 2s animate4 linear infinite;
    animation-delay: 2s;
}

@keyframes animate4 {
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(-100%);
    }
}



/*stroke-dasharray: var(--percents, 160);*/




.button_BABWIA_a:hover .button_BABWIA_span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, orange );
    animation: animate1 linear infinite;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

@keyframes animate1 {
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }

}

.button_BABWIA_a:hover .button_BABWIA_span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, orange );
    animation: animate2 1s linear infinite;

}

@keyframes animate2 {
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(100%);
    }
}

.button_BABWIA_a:hover .button_BABWIA_span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, orange );
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}

.button_BABWIA_a:hover .button_BABWIA_span:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, orange );
    animation: 1s animate4 linear infinite;
    /*animation-iteration-count: 3;*/
    animation-delay: 1s;
}

@keyframes animate4 {
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(-100%);
    }
}

.icon_buttonBABWIA {
    padding: 0 10px 0 0
}
