.common_skills_card_container{
    display: flex;
    perspective: 1000px;
    transform-style: preserve-3d;
    padding: 10px;
}

.skills_card_container{
    display: flex;
    height: 350px;
    width: 250px;
    /*background-color: white;*/
    background-image: var(--ParalaxCardBackgroundColor);
    border-radius: 10px;
    border: solid 2px orange;
    box-shadow: 0px 20px 50px black;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skills_card_container_transparent{
    height: 350px;
    width: 250px;
    background-color: transparent;
    border-radius: 10px;
    position: absolute;
    left:0;
    top:0;
}

.cardONMM_img{
    /*max-width: 100px;*/
    height: 60%;
    width: 45%;
    border-radius: 10px;
    margin-right: 10px;
    float: left;
}

.cardONMM_container_info {
    padding: 10px;
    display: flex;
    /*width: 100%;*/
    flex-wrap: wrap;
    /*text-align: center;*/
    flex-direction: column;
    flex: 1;
}

.cardONMM_title{
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 24px;
    font-weight: bold;
}

.cardONMM_description_p {
    /*float: right;*/
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex: 1;*/
}

.cardONMM_title_container{
    display: flex;
    width: 100%;
}

.cardONMM_link {
    /*text-decoration: none;*/
    color: orange;
    font-weight: bold;
    /*position: absolute;*/
    /*bottom: 20px;*/
    /*left: 30%;*/

    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: end;
}
