.common_header_social_net_block {
    display: flex;
    flex:2;
    justify-content: flex-end;
    flex-direction: row;
    overflow: hidden;

}

.common_header_social_net_container {
    border: solid 3px transparent;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 5px;
    overflow: hidden;
    transition: border 1s ease-out;
    position: relative;
    text-decoration: none;
    background: transparent;
}


.common_header_social_net_icon_font {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
}

.telegram:hover{
    border-color: #61dafb;
    color: #61dafb;
    box-shadow: 0px 0px 15px #61dafb;
}

.vk:hover {
    border-color: #0e76a8;
    color: #0e76a8;
    box-shadow: 0px 0px 15px #0e76a8;
    background: transparent;
}
.linkedin:hover {
    border-color: #0e76a8;
    color: #0e76a8;
    box-shadow: 0px 0px 15px #0e76a8;
    background: transparent;
}

/*.twitter:hover {*/
    /*border-color: #1DA1F2;*/
    /*color: #1DA1F2;*/
    /*box-shadow: 0px 0px 15px #1DA1F2;*/
/*}*/

.facebook:hover {
    border-color: #4267B2;
    color: #4267B2;
    box-shadow: 0px 0px 15px #4267B2;
}

.skype:hover {
    border-color: #00aff0;
    color: #00aff0;
    box-shadow: 0px 0px 15px #00aff0;
}


/*.instagram:hover {*/
    /*border-color: #8a3ab9;*/
    /*color: #8a3ab9;*/
    /*box-shadow: 0px 0px 15px #8a3ab9;*/
/*}*/

/*.google:hover {*/
    /*border-color: #dd4b39;*/
    /*color: #dd4b39;*/
    /*box-shadow: 0px 0px 15px #dd4b39;*/
/*}*/

.mail:hover {
    border-color: #4267B2;
    color: #4267B2;
    box-shadow: 0px 0px 15px #4267B2;;
}



.common_header {
    /*min-height: 10vh;*/
    /*height: 100%;*/
    background-color: transparent;
    display:flex;
    /*width: 100%;*/
    flex-direction: row;
    margin: 0vh 40vh 0vh 40vh;
    box-sizing: border-box;
}

.common_header_left_block {
    display: flex;
    flex: 2;
    justify-content: flex-start;
}

.common_header_right_block {
    display: flex;
    flex: 2;
    justify-content: flex-end;
}
